h1 {
    text-align: center;
    margin-bottom: 20px;
}

.border-div {
    border: 2px solid black;
    background-color: #b2beb5; 
    margin: 10px;
    clear: both;
}
.chiken, .beef, .sushi {
    border: 2px solid black;
    float: right;
    right: auto;
    padding: 4px;
    overflow: hidden;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
}
.chiken {
    background-color: #F78FD0;
}
.beef {
    background-color: #C70039;
}
.sushi {
    background-color: #F5E030;
}

